<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0 ) { %>
        <h1>
            Nothing here yet!<br /> <br />  <hr /> <br />  Head Over to the shop see what we have. 🚀 🌖
        </h1>
        <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1>Order # <%= order._id %></h1>
                        <ul>
                            <% order.items.forEach(product => { %>
                            <li> <%= product.title %> (<%= product.quantity %>) </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>    
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>